@font-face {
  font-family: Etihad_font;
  src:url('../src/font/KippaxModernCondensedRegular.otf') ;
  
 }@font-face {
  font-family: Etihad_font_p;
  src:url('../src/font/_Kippax_Modern_Regular.otf') ;
  
 }
body {
  margin: 0;
  font-family: Etihad_font,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  font-family: Etihad_font_p
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.etihad-puma{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQYlWMsevn/PwMDA0OvGAMjAx7AhE8SGTD+hxiIExS/YvhPkokshEyCuZ18E9FNggHSTcRlEskmAgD7MBJvQ1V/KQAAAABJRU5ErkJggg==);
  background-size: 5px 5px;
  justify-content: center;
  
}